@import "../variables";

.top-header {
  background: url(../../img/showcase.jpg) no-repeat top center/cover;
  border-bottom: 3px solid $primary-color;
  color: $light-color;
}

.top-header__inner {
  align-items: center;
  display: flex;
  padding: 1em;
}

.top-header__logo {
  height: 3em;
}

.top-header__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.top-header__list {
  display: flex;
  gap: 2em;
  text-transform: uppercase;

  a {
    border-bottom: 3px solid transparent;
    font-size: 0.8rem;
    padding: 0.4em 0;
    transition: border-bottom-color 0.3s ease;

    &.current {
      border-bottom-color: $primary-color;
    }

    &:hover {
      border-bottom-color: $mid-color;
    }
  }
}

@import "top-header--home";
