.mid-main__section--img-aside {
  aside {
    align-items: center;
    display: flex;
    padding: 1em 0;
  }

  img {
    border-radius: 50%;
    height: 2em;
  }

  address {
    font-size: 0.8rem;
    margin-left: 0.5em;
  }
}